*{
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif  ;
    box-sizing: border-box;
}
.container{
    width: 100%;
    min-height: 100vh;

    background:linear-gradient(135deg,#153677,#4e085f);
    padding: 10px;}
    .todo-app{
        background: #fff;
        max-width: 540px;
        width: 100%;
        margin: 100px auto 20px;
        border-radius: 10px;
        padding: 40px 30px 70px;
    }