*{
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif  ;
    box-sizing: border-box;
}
.container{
    width: 100%;
    min-height: 100vh;

    background:linear-gradient(135deg,#153677,#4e085f);
    padding: 10px;}
    .todo-app{
        background: #fff;
        max-width: 540px;
        width: 100%;
        margin: 100px auto 20px;
        border-radius: 10px;
        padding: 40px 30px 70px;
    }
    .todo-app h2{
        color: #002785;
        margin-bottom: 20px;
        display: flex;
        align-items: center;
    }
    .todo-app h2 img{
        width: 30px;
        margin-left: 10px;
    }
    .row{
        display: flex;
        align-items: center;
        justify-content: space-between;
    background: #edeef0;
    padding-left: 20px;
    margin-bottom: 25px;
    border-radius: 10px ;
    }

    input{
        flex: 1;
        border: none;
        outline: none;
        background: transparent;
        padding: 10px;
        font-weight: 14px;
    }
    button{
        border: none;
        outline: none;
        padding: 16px 50px  ;
        background: #ff5945;
font-size: 16px;
        color: #fff;
        cursor: pointer;
        border-radius: 40px;
    }